:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

 body {
   @apply bg-background text-foreground antialiased;
   font-family: 'Inter', system-ui, -apple-system, sans-serif;
 }
